doctype html
block vars
  - var bodyclass = null;
html(lang='en')
  head
    block head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
      meta(name='viewport', content='width=device-width')
      title
        block title
          = locals.name
      link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Lato:400,700,400italic')
      link(rel='stylesheet', href='/css/main.css')
  body(class=bodyclass)
    header.header
      div.content-wrap
        block header
          div.logo
            h1
              img(src='css/logo.png', alt='bloomingbridges emblem', class='emblem') 
              a(href=locals.url)= locals.name
            p.description= locals.description
          include ../contents/nav.jade
    section.artwork_container
      - var artworks = env.helpers.getPortfolioItems(contents)
      - for (item in artworks) {
      -   if (typeof artworks[item] === "object" && artworks[item].hasOwnProperty('metadata') && !artworks[item].metadata.draft) {
      -     var item = artworks[item].metadata
      -     var imgURL = "/portfolio/"+item.slug+"/teaser.png"
      -     var cats = item.category.replace(/,/g, "");
      div(id=item.slug, class="artwork " + cats, data-colour=item.colour)
        img(src=imgURL)
        a(href="/portfolio/"+item.slug+"/index.html")
          svg(version="1.1", class="mask", xmlns="http://www.w3.org/2000/svg")
      -   }
      - }

    section.filterBar
      button All
      button(data-filter-value=".ui") User Interface
      button(data-filter-value=".game") Game
      button(data-filter-value=".branding") Branding
      button(data-filter-value=".illustration") Illustration
      button(data-filter-value=".ios") iOS
      button(data-filter-value=".web") Web
      button(data-filter-value=".android") Android

    script(src="js/vendor/snap.svg-min.js")
    script(src="js/vendor/isotope.pkgd.js")
    script(src="js/artwork.js")
